body{
	background-color:black;
	border-top: 50px;
	border-bottom: 50px;
	border-left: 50px;
	border-right: 50px;
	}

#contact{
	font-size: 20px;
	font-family:Verdana;
	color: #7d8ce9;
	text-align: right;
	}
.skills{
	font-size:150px;
	color: #7d8ce9;
	text-align:left;
	}
.experience{
	color: #7d8ce9;
	text-align:left;
	font-size:150px;
	}	

p {
	font-size: 70px;
	font-family:Verdana;
	color: #7d8ce9;
	}
h1{
	font-size: 50px;
	font-family:Verdana;
	color: #7d8ce9;
	}	
h2{
	text-align:left;
	font-family:Verdana;
	color: #7d8ce9;
	}
li
	{
		font-family:Verdana;
		font-size:30px;
		color: #7d8ce9;
	}
.opening{
	color: #7d8ce9;
	text-align:left;
	font-size:25px;
	}