body{
	background-color:black;
	border: 20px:20px:20px:20px;
	}
span-style {
	font-family:Cursive;
	color:white;
	}

h1	{
	font-size: 20px;
	font-family:Verdana;
	color: #7d8ce9;
	text-align: center;
	}
p{
	font-size: 20px;
	font-family:Verdana;
	color: #7d8ce9;
}
h2
{
	text-align:left;
	font-family:Verdana;
	color: #7d8ce9;
}
li
	{
		font-family:Verdana;
		color: #7d8ce9;
	}